<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${htmlTitle}"></title>
    <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/css/app.cd0cf242e74e749288f1965635d36538.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>

<script th:if="${isLogin}">
    window.initState={
        isLogin:true
    }
</script>
<script th:if="${!isLogin}">
    window.initState={
        isLogin:false
    }
</script>
<script type="text/javascript" src="/js/manifest.30c78cef7af7cd755cc4.js"></script>
<script type="text/javascript" src="/js/vendor.bbb2246c6f6a1ff78eab.js"></script>
<script type="text/javascript" src="/js/app.2f052509644b2be2e82b.js"></script>

</body>
</html>