<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${htmlTitle}"></title>
    <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/css/app.fea14a882c0adce6aaddbd1f406ef947.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>

<script th:if="${isLogin}">
    window.initState={
        isLogin:true
    }
</script>
<script th:if="${!isLogin}">
    window.initState={
        isLogin:false
    }
</script>
<script type="text/javascript" src="/js/manifest.5994844366340fbbe0ca.js"></script>
<script type="text/javascript" src="/js/vendor.e2bb30e7fabce829485b.js"></script>
<script type="text/javascript" src="/js/app.650a410e036d894513bd.js"></script>

</body>
</html>