<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${htmlTitle}"></title>
    <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/css/app.e67d9879cec03be14dfc700b0ae6e194.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>

<script th:if="${isLogin}">
    window.initState={
        isLogin:true
    }
</script>
<script th:if="${!isLogin}">
    window.initState={
        isLogin:false
    }
</script>
<script type="text/javascript" src="/js/manifest.3eba25afe21aca8eec3f.js"></script>
<script type="text/javascript" src="/js/vendor.719f2052fcc87179815a.js"></script>
<script type="text/javascript" src="/js/app.28e2da20bcbbb325234c.js"></script>

</body>
</html>