<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${htmlTitle}"></title>
    <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/css/app.36c18003c4b6902fd0bf416fd53d78cf.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>

<script th:if="${isLogin}">
    window.initState={
        isLogin:true
    }
</script>
<script th:if="${!isLogin}">
    window.initState={
        isLogin:false
    }
</script>
<script type="text/javascript" src="/js/manifest.7b9d18185e340d3cb367.js"></script>
<script type="text/javascript" src="/js/vendor.b2938b51e3c485676d60.js"></script>
<script type="text/javascript" src="/js/app.75f46491e809f99c5bdc.js"></script>

</body>
</html>